<div class="row">
    <div class="large-6 medium-6 small-12 columns right" id="sekcja3">
        <div class="klocek5">
            <h1>Kontener Magazynowy <br />Kontener Morski</h1>
        </div>
    </div>

    <div class="large-6 medium-6 small-12 columns left ">
        <div class="klocek7 swiatlo">
            <div class="galleria">
                <a href="~/Content/Img/Magazynowe/27-7-2015/20/Magazynowe12-16.jpg" data-lightbox="sekcja3">
                    <img src="~/Content/Img/Magazynowe/27-7-2015/20/Magazynowe12-16.jpg" />
                </a>
                <a href="~/Content/Img/Magazynowe/27-7-2015/20/Magazynowe12-4.jpg" data-lightbox="sekcja3">
                    <img src="~/Content/Img/Magazynowe/27-7-2015/20/Magazynowe12-4.jpg" />
                </a>
                <a href="~/Content/Img/Magazynowe/27-7-2015/20/Magazynowe12-12.jpg" data-lightbox="sekcja3">
                    <img src="~/Content/Img/Magazynowe/27-7-2015/20/Magazynowe12-12.jpg" />
                </a>

            </div>
            </div>
    </div>

    <div class="large-12 medium-12 small-12 columns" data-equalizer>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Zastosowanie</h5>
                    <p>Kontenery magazynowe, kontenery morskie służą jako miejsce przechowywania towarów w magazynach, jak również są fundamentem transportu wielokrotnego użytku, ze względu na swoją wytrzymałość. Nasi klienci wykorzystują je głównie jako pomieszczenie magazynowe do przechowywania i zabezpieczania towarów, produktów oraz różnego rodzaju mienia, jak maszyny, urządzenia, narzędzia czy materiały budowlane.</p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Cechy</h5>
                    <p>Każdy kontener posiada uchwyty hakowe dla dźwigów oraz kieszenie dla wideł podnośników przez co transport całych kompleksów magazynowych jest prosty i tani. Trwała konstrukcja, wzmocniona podłoga oraz odpowiednio zabezpieczone drzwi to cechy charakterystyczne naszych kontenerów morskich.</p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Zalety</h5>
                    <p>Dzięki zastosowaniu najwyższej jakości materiałów, nasze kontenery cieszą się uznaniem klientów z całej Polski, zapewniając im pełne bezpieczeństwo oraz potrzebną przestrzeń magazynową. Zapewniamy, że zakupione u nas kontenery magazynowe lub kontenery morskie posłużą bardzo długo bez jakiejkolwiek utraty w funkcjonalności.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="ModalKM11" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/Magazynowy20'STANDARDV3.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>
        <div id="ModalKM12" class="reveal-modal alle" data-reveal>
            <div class="zamknij">
                <a class="close-reveal-modal">&#215;</a>
            </div>
            @RenderPage("~/Modalne/KontenerMagazynowy40.cshtml")
            <div class="zamknij2">
                <a class="close-reveal-modal">Zamknij ofertę</a>
            </div>
        </div>
    <div id="ModalKM13" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/KontenerBlaszany.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>
        <div id="ModalKM14" class="reveal-modal alle" data-reveal>
            <div class="zamknij">
                <a class="close-reveal-modal">&#215;</a>
            </div>
            @RenderPage("~/Modalne/Kontenery Magazynowe_zolte12_HC.cshtml")
            <div class="zamknij2">
                <a class="close-reveal-modal">Zamknij ofertę</a>
            </div>
        </div>
    <div id="ModalKM31" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/KontenerMagazynowyNiebiesk.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>
    
    <div class="large-6 medium-12 small-12 columns">
            <div class="klocek11">
                <div class="ribbon-wrapper">
                    <div class="ribbon-red ribbon-yellow">
                        UŻYWANY
                    </div>
                </div>
                <a href="#" data-reveal-id="ModalKM11">
                    <div class="KM11 medium-8 columns">

                        <div class="naglowek">
                            Kontener magazynowy, Kontener morski 20 FT
                        </div>

                    </div>
                </a>
                <div class="infoKlocek11 medium-4 columns">
                    <ul>
                        <li>
                            <a href="#" data-reveal-id="ModalKM11">
                                <span>CENA</span> <br />5 500 NETTO <br /> 300 NETTO/miesiąc
                            </a>
                        </li>
                        <li>
                            <a class="wymiary" href="#" data-reveal-id="ModalKM11">
                                <span>WYMIARY </span><br /><span data-tooltip aria-haspopup="true" class="has-tip" title="długość">6 058</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2 438</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2 591</span><br />
                            </a>
                        </li>

                        <li class="wiecej">
                            <a class="button3" href="#" data-reveal-id="ModalKM11">Więcej informacji</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>

    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    NOWY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalKM13">
                <div class="KM13  medium-8 columns">

                    <div class="naglowek">
                        Kompaktowy magazyn
                    </div>

                </div>
            </a>
            <!-- Nawigacja sekcja3_1-->
            
            <div class="infoKlocek11  medium-4 columns">
                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalKM13">
                            <span>CENA</span> <br /> 6 500 NETTO <br /> 200 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalKM13">
                            <span>WYMIARY </span><br /> <span data-tooltip aria-haspopup="true" class="has-tip" title="długość">2010</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">1510</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2720</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalKM13">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="large-6 medium-12 small-12 columns">
            <div class="klocek11">
                <div class="ribbon-wrapper">
                    <div class="ribbon-red ribbon-yellow">
                        UŻYWANY
                    </div>
                </div>
                <a href="#" data-reveal-id="ModalKM12">
                    <div class="KM12  medium-8 columns">

                        <div class="naglowek">
                            Kontener magazynowy, Kontener morski 40
                        </div>

                    </div>
                </a>
                <!-- Nawigacja sekcja3_1-->
                <h3 data-magellan-destination="socjalne"></h3>

                <div class="infoKlocek11 medium-4 columns">
                    <ul>
                        <li>
                            <a href="#" data-reveal-id="ModalKM12">
                                <span>CENA</span> <br /> 6 500 NETTO <br /> 400 NETTO/miesiąc
                            </a>
                        </li>
                        <li>
                            <a class="wymiary" href="#" data-reveal-id="ModalKM12">
                                <span>WYMIARY </span><br /> <span data-tooltip aria-haspopup="true" class="has-tip" title="długość">12192</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2438</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2591</span><br />
                            </a>
                        </li>
                        <li class="wiecej">
                            <a class="button3" href="#" data-reveal-id="ModalKM12">Więcej informacji</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    <div class="large-6 medium-12 small-12 columns">
            <div class="klocek11">
                <div class="ribbon-wrapper">
                    <div class="ribbon-red ribbon-yellow">
                        UŻYWANY
                    </div>
                </div>
                <a href="#" data-reveal-id="ModalKM14">
                    <div class="KM14  medium-8 columns">

                        <div class="naglowek">
                            Kontener magazynowy, Kontener morski 40 HC
                        </div>

                    </div>
                </a>
                <!-- Nawigacja sekcja3_1-->
                <h3 data-magellan-destination="socjalne"></h3>

                <div class="infoKlocek11  medium-4 columns">
                    <ul>
                        <li>
                            <a href="#" data-reveal-id="ModalKM14">
                                <span>CENA</span> <br /> 6 800 NETTO <br /> 400 NETTO/miesiąc
                            </a>
                        </li>
                        <li>
                            <a class="wymiary" href="#" data-reveal-id="ModalKM14">
                                <span>WYMIARY </span><br /> <span data-tooltip aria-haspopup="true" class="has-tip" title="długość">12192</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2438</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2896</span><br />
                            </a>
                        </li>
                        <li class="wiecej">
                            <a class="button3" href="#" data-reveal-id="ModalKM14">Więcej informacji</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    <!-- Kontener ONE-WAY-->
    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    NOWY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalKM31">
                <div class="KM31 modal  medium-8 columns">
                    <div class="naglowek">
                        Kontener magazynowy, Kontener morski ONE WAY 20
                    </div>
                </div>
            </a>
            <!-- Nawigacja sekcja3_1-->
            <h3 data-magellan-destination="socjalne"></h3>

            <div class="infoKlocek11  medium-4 columns">
                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalKM31">
                            <span>CENA</span> <br /> 9 900 NETTO <br /> 300 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalKM31">
                            <span>WYMIARY </span><br /> <span data-tooltip aria-haspopup="true" class="has-tip" title="długość">6058</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2438</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2591</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalKM31">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Kontener ONE-WAY END-->
    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    SPRAWDŹ
                </div>
            </div>
            <a href="#kontakt">
                <div class="PROJEKT  medium-8 columns">

                    <div class="naglowek">
                        PODAJ ADRES DOSTAWY
                        
                    </div>

                </div>
            </a>
            <!-- Nawigacja sekcja6_1-->

            <div class="infoKlocek11  medium-4 columns">
                <ul>
                    <li>
                        <a class="wymiary" href="#kontakt">

                            <span>NISKIE KOSZTY</span> <br />TRANSPORTU
                        </a>
                    </li>
                    <li>
                        <a href="#kontakt">

                            <span>SKORZYSTAJ</span> <br /> Z NASZEGO <br />DOŚWIADCZENIA
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#kontakt">WYCENA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    </div>
<!-- Nawigacja sekcja3_2-->
<a name="socjalne"></a>

