<div class="row">

    <div class="large-6 medium-6 small-12 columns" id="sekcja2">
        <div class="klocek5">
            <h1>Pawilon handlowy</h1>
        </div>
    </div>

    <div class="large-6 medium-6 small-12 columns">  
        <div class="klocek7 swiatlo">
            <div class="galleria">
                <a href="~/Content/Img/Uslugowe/Usluga4.jpg" data-lightbox="sekcja2">
                    <img src="~/Content/Img/Uslugowe/Usluga4.jpg" />
                </a>
                <a href="~/Content/Img/Uslugowe/Usluga1.jpg" data-lightbox="sekcja2">
                    <img src="~/Content/Img/Uslugowe/Usluga1.jpg" />
                </a>
                <a href="~/Content/Img/Uslugowe/Usluga3.jpg" data-lightbox="sekcja2">
                    <img src="~/Content/Img/Uslugowe/Usluga3.jpg" />
                </a>
                </div>
            </div>
    </div>

    <div class="large-12 medium-12 small-12 columns" data-equalizer>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Zastosowanie</h5>
                    <p>Takie moduły zastosujesz m.in., jako biura sprzedaży, banki, sklepy, magazyny, stacje benzynowe, restauracje, szatnie, domki letniskowe, obozy wojskowe, sale dla VIP-ów, sale szkoleniowe, szkoły, przedszkola, centra medialne, apteki, laboratoria badawcze, mobilne kliniki, gabinety lekarskie, salony kosmetyczne, salony SPA, składowiska odpadów, itd.</p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Cechy</h5>
                    <p>Powstały z myślą o małych, średnich i dużych przedsiębiorstwach, które handlem zajmują się przez cały rok lub sezonowo. Zaletą naszych pawilonów jest bezproblemowy montaż i demontaż, a wykonanie z trwałych, ale lekkich materiałów ułatwia ich przemieszczanie z miejsca na miejsce.</p>
                </div>
            </div>
        </div>
        <div class="large-4 medium-12 small-12 columns eqal">
            <div class="klocek4">
                <div class="inklocek4" data-equalizer-watch>
                    <h5>Zalety</h5>
                    <p>Branża coraz częściej sięga po modułową architekturę handlową, usługową. Niskie koszty, możliwość startu działalności z praktycznie każdego miejsca oraz nieograniczona elastyczność przystosowania obiektu do potrzeb klienta są motorem napędowym polskich firm. Zarówno ambitni młodzi jak i doświadczeni przedsiębiorcy korzystają z naszych nowoczesnych, konkurencyjnych cenowo, pewnych rozwiązań.</p>
                </div>
            </div>
        </div>
    </div>

    <div id="ModalPH11" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/BiuroMieszkan.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>
    <div id="ModalPH12" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/PawilonWarszawa.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>

    <div id="ModalPH21" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/SalonGier.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>
    <div id="ModalPH22" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/PawilonUslugowy.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>

    <div id="ModalPH31" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/HandlowyCzerwonyV3.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>

    <div id="ModalPH32" class="reveal-modal alle" data-reveal>
        <div class="zamknij">
            <a class="close-reveal-modal">&#215;</a>
        </div>
        @RenderPage("~/Modalne/budkazlodami.cshtml")
        <div class="zamknij2">
            <a class="close-reveal-modal">Zamknij ofertę</a>
        </div>
    </div>

    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    NOWY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalPH21">
                <div class="PH21 medium-8 columns">

                    <div class="naglowek">Mobilne biuro sprzedaży</div>

                </div>
            </a>
            <div class="infoKlocek11 medium-4 columns">

                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalPH21">
                            <span>CENA</span> <br /> 22 100 NETTO <br /> 700 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalPH21">
                            <span>WYMIARY </span><br /> <span data-tooltip aria-haspopup="true" class="has-tip" title="długość">6010</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2410</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2860</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalPH21">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red ribbon-yellow">
                    UŻYWANY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalPH32">
                <div class="PH32 modal medium-8 columns">

                    <div class="naglowek">KOMPLEKSOWO WYPOSAŻONY PAWILON</div>

                </div>
            </a>
            <!--Nawigacja sekcja2_1-->
            <div class="infoKlocek11 medium-4 columns">
                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalPH32">
                            <span>CENA</span> <br /> 37 000 NETTO <br /> 1 400 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalPH32">
                            <span>WYMIARY </span><br /><span data-tooltip aria-haspopup="true" class="has-tip" title="długość">6060</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">2440</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2860</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalPH32">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    NOWY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalPH31">
                <div class="PH31 modal medium-8 columns">

                    <div class="naglowek">
                        KOMFORTOWY PAWILON HANDLOWY

                    </div>

                </div>
            </a>
            <!--Nawigacja sekcja2_1-->
            <div class="infoKlocek11 medium-4 columns">
                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalPH31">
                            <span>CENA</span> <br /> 41 000 NETTO <br /> 1 500 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalPH31">
                            <span>WYMIARY </span><br /><span data-tooltip aria-haspopup="true" class="has-tip" title="długość">4820</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">5010</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2780</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalPH31">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    NOWY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalPH12">
                <div class="PH12 medium-8 columns">

                    <div class="naglowek">
                        Nowoczesny Salon Handlowy
                    </div>

                </div>
            </a>
            <div class="infoKlocek11 medium-4 columns">
                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalPH12">
                            <span>CENA</span> <br /> 49 900 NETTO <br /> 1 600 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalPH12">
                            <span>WYMIARY </span><br /><span data-tooltip aria-haspopup="true" class="has-tip" title="długość">5000</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">5000</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2860</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalPH12">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-yellow ribbon-red ">
                    UŻYWANY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalPH11">
                <div class="PH11 medium-8 columns">

                    <div class="naglowek">
                        Duży Kompleks Biznesowy
                    </div>

                </div>
            </a>
            <!--Nawigacja sekcja2_1-->
            
            <div class="infoKlocek11 medium-4 columns">
                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalPH11">
                            <span>CENA</span> <br /> 52 840 NETTO <br /> 2 500 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalPH11">
                            <span>WYMIARY </span><br /><span data-tooltip aria-haspopup="true" class="has-tip" title="długość">7500</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">6000</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2920</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalPH11">Więcej informacji</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    NOWY
                </div>
            </div>
            <a href="#" data-reveal-id="ModalPH22">
                <div class="PH22 medium-8 columns">

                    <div class="naglowek">
                        Przeszklony Pawilon Wystawowy
                    </div>

                </div>
            </a>
            <div class="infoKlocek11 medium-4 columns">
                <ul>
                    <li>
                        <a href="#" data-reveal-id="ModalPH22">
                            <span>CENA</span> <br /> 60 800 NETTO <br /> 1 800 NETTO/miesiąc
                        </a>
                    </li>
                    <li>
                        <a class="wymiary" href="#" data-reveal-id="ModalPH22">
                            <span>WYMIARY </span><br /> <span data-tooltip aria-haspopup="true" class="has-tip" title="długość">5010</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="szerokość">4810</span> x <span data-tooltip aria-haspopup="true" class="has-tip" title="wysokość">2860</span><br />
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#" data-reveal-id="ModalPH22">Więcej informacji</a>
                    </li>
                </ul>
            </div>
            <h3 data-magellan-destination="magazynowe"></h3>
        </div>
    </div>

    @*<div class="large-6 medium-12 small-12 columns">
        <div class="klocek11">
            <div class="ribbon-wrapper">
                <div class="ribbon-red">
                    ZAPROJEKTUJ
                </div>
            </div>
            <div class="PROJEKT">
                <a href="#kontakt">
                    <div class="box-text">
                        <h1>WYŚLIJ DO NAS SWÓJ PROJEKT</h1>
                        <h2>a my zajmiemy się resztą</h2>
                    </div>
                </a>
            </div>
             Nawigacja sekcja6_1

            <div class="infoKlocek11">
                <ul>
                    <li>
                        <a class="wymiary" href="#kontakt">

                            <span>ZAPROJEKTUJ</span> <br />KONTENER
                        </a>
                    </li>
                    <li>
                        <a href="#kontakt">

                            <span>SKORZYSTAJ</span> <br /> Z NASZEGO <br />DOŚWIADCZENIA
                        </a>
                    </li>
                    <li class="wiecej">
                        <a class="button3" href="#kontakt">WYCENA</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@
</div>
<!-- Nawigacja sekcja2_2-->
<a name="magazynowe"></a>
